<%- include('../../partials/adminHeader') %>

    <h2 class="page-title">Add a category</h2>
    <a href="/admin/categories/allCategories" class="btn btn-primary">Back to all categories</a>
    <br><br>

    <% if (errors && errors.length !=0) { %>
        <% errors.forEach((err)=> { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin: top 20px;">
                <%= err %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }) %>
                <% } %>

                    <form method="post" action="/admin/categories/add-category">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <br>
                            <input type="text" class="form-control" name="title" placeholder="Title">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Slug</label>
                            <input type="text" class="form-control" name="slug" placeholder="Slug">
                        </div>
                        <br>
                        <button class="btn btn-primary">Submit</button>
                    </form>

                    <%- include('../../partials/adminFooter') %>